{% extends "main.html" %}

{% load static %}

{% block header %}
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Macondo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'project.css' %}">
</head>
{% endblock %}

<body>
{% block body %}
<div id="body">
    <div id="head">
        <h1>My Projects</h1>
    </div>
    <div id="videos">
        <div id="row_vids">
            <div class="videos">
                <h2>place your video/photo here</h2>
            </div>

            <div class="videos">
                <h2>place your video/photo here</h2>
            </div>
        </div>
        <div id="row_desc">
            <div class="description">
                <h3>Description</h3>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure minus 
                    itaque ipsa eum, 
                    reiciendis accusamus facere quis laboriosam quae delectus ex corrupti fuga saepe 
                    earum cupiditate dolor. 
                    Aut, ullam. Recusandae?
                    reiciendis accusamus facere quis laboriosam quae delectus ex corrupti fuga saepe 
                    earum cupiditate dolor. 
                    Aut, ullam. Recusandae?
                </h4>
            </div>

            <div class="description">
                <h3>Description</h3>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure minus 
                    itaque ipsa eum, 
                    reiciendis accusamus facere quis laboriosam quae delectus ex corrupti fuga saepe 
                    earum cupiditate dolor. 
                    Aut, ullam. Recusandae?
                    reiciendis accusamus facere quis laboriosam quae delectus ex corrupti fuga saepe 
                    earum cupiditate dolor. 
                    Aut, ullam. Recusandae?
                </h4>
            </div>
        </div>

        <div id="row_vids">
            <div class="videos">
                <h2>place your video/photo here</h2>
            </div>

            <div class="videos">
                <h2>place your video/photo here</h2>
            </div>
        </div>
        <div id="row_desc">
            <div class="description">
                <h3>Description</h3>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure minus 
                    itaque ipsa eum, 
                    reiciendis accusamus facere quis laboriosam quae delectus ex corrupti fuga saepe 
                    earum cupiditate dolor. 
                    Aut, ullam. Recusandae?
                    reiciendis accusamus facere quis laboriosam quae delectus ex corrupti fuga saepe 
                    earum cupiditate dolor. 
                    Aut, ullam. Recusandae?
                </h4>
            </div>

            <div class="description">
                <h3>Description</h3>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure minus 
                    itaque ipsa eum, 
                    reiciendis accusamus facere quis laboriosam quae delectus ex corrupti fuga saepe 
                    earum cupiditate dolor. 
                    Aut, ullam. Recusandae?
                    reiciendis accusamus facere quis laboriosam quae delectus ex corrupti fuga saepe 
                    earum cupiditate dolor. 
                    Aut, ullam. Recusandae?
                </h4>
            </div>
        </div>
            
    </div>
</div>    

{% endblock %}
</body>